:root {
  /* Figma source: Just Cause */
  --intent-color-just-cause: #d772ff;

  /* Figma source: Enemy Image */
  --intent-color-enemy-image: #ff657c;

  /* Figma source: Individuals Needs */
  --intent-color-individual-needs: #658cff;

  /* Figma source: Rhetroical Foreclosure */
  --intent-color-rhetorical-foreclosure: #93ba79;
}
