.four-point-grid {
  position: fixed;
  z-index: 2147483647;
  inset: 0;
  background-image:
    linear-gradient(
      to right,
      var(--four-point-grid-color) 0 1px,
      transparent 1px 100%
    ),
    linear-gradient(
      to bottom,
      var(--four-point-grid-color) 0 1px,
      transparent 1px 100%
    );
  background-position: 0 0;
  background-size: 4px 4px;
  opacity: var(--four-point-grid-opacity);
  pointer-events: none;
  user-select: none;
}
