.grid-column-labels {
  position: absolute;
  z-index: 1;
  inset: 0;
  pointer-events: none;
}

.grid-column-labels span {
  position: absolute;
  bottom: calc(var(--space-8) + var(--space-1));
  left: var(--grid-column-label-x);
  color: var(--color-grid-legend);
  font-size: var(--font-size--1);
  font-weight: var(--font-weight-extra-bold);
  font-variant-numeric: tabular-nums;
  line-height: var(--line-height--1);
  white-space: nowrap;
  transform: translateX(-50%);
}

.grid-column-labels .grid-column-labels__scale-label {
  right: var(--layout-scale-label-inline-end);
  bottom: calc(var(--space-8) + var(--space-1) + var(--space-3));
  left: auto;
  color: var(--color-legend-label);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-0);
  transform: none;
}
