.strategy-badge-container {
  display: flex;
  flex-direction: column;
  align-items: var(--strategy-badge-container-align, flex-start);
  align-self: center;
  gap: var(--space-1);
  justify-self: var(--strategy-badge-container-justify, start);
  max-width: 100%;
}

@media (max-width: 48.75rem) {
  .strategy-badge-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: var(--space-2);
  }
}
