.vertical-line-grid {
  position: absolute;
  inset: 0;
}

.vertical-line-grid__line {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: var(--line-x);
  width: 0.0625rem;
  background: var(--color-grid-line);
}

.vertical-line-grid__line--center {
  background: var(--color-grid-legend);
}

.vertical-line-grid__label {
  position: absolute;
  bottom: var(--vertical-line-grid-label-bottom, 1rem);
  left: 50%;
  color: var(--color-grid-legend);
  font-size: var(--font-size--1);
  font-weight: var(--font-weight-extra-bold);
  font-variant-numeric: tabular-nums;
  line-height: var(--line-height--1);
  white-space: nowrap;
  transform: translateX(-50%);
}

.vertical-line-grid__scale-label {
  position: absolute;
  right: 3rem;
  bottom: var(--vertical-line-grid-scale-label-bottom, 3rem);
  color: var(--color-legend-label);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-0);
  white-space: nowrap;
}
